@charset "UTF-8";

#sec01>div {
border: 1px solid;
width: 200px; height: 50px;
background-color: #eaf;
}


.tra01 {
transform: translateX(800px); /* 가로 오른쪽 800px  */	
}

.tra02 {
transform: translateY(300px); /* 수직 아래 300px  */
}

.tra03 {
transform: translateX(-50px); /* 가로 왼쪽 50px  */
}

.tra04 {
transform: translateY(-300px); /* 수직 위 300px  */
}

.tra05 {
transform: translate(800px,-300px); /* 대각선 1시방향 이동 (축없이)ㄴ X,Y값으로 입력 */
}

.tra06 {
transform: translate(300px,150px);
}


#sec01:hover>div {
transform: translate(0,0);
transition: 2s;
}

#sec01{position:relative;}
.center{ /* 부모의 중앙은 맞지만 사각형 11시방향 1px점이 중앙기준  */
height: 100px !important; 
position: absolute; /* position 속성의 한계 */
left: 50%; top: 50%; /* 부모(sec01)에 대한 %  */
transform: translate(-50%,-50%); /* 자기크기기준 정중앙에 위치함 */ 
white-space: pre;
}


#sec02 img{width: 400px;}
.sca01 {transform: scale(01.5);}