@charset "UTF-8";

/*필수 요소(직접 변화를 준 장면): 키프레임 */

#bg-ch {
	border: 1px solid;
	height: 600px;
	padding: 20px;
	line-height: 2; /*줄간격*/
	background-size: cover;
}

.anibg {
	animation:bgimg 10s 1s infinite alternate ease-out;
}


@keyframes bgimg {
	
 0% {background-image: url("../img/great.jpg");}
 50% {background-image: url("../img/light.jpg");}
 100% {background-image: url("../img/green.jpg");}
 	
}

#sec01 {overflow: hidden;}

#sec01>div {border: 1px solid;
background-color: #e20;
width: 150px; height: 150px;
border-radius: 50%;
text-align: center;
line-height: 150px;
font-weight: bold;
font-size: 1.2em;
float: left;
margin: 70px;}

@keyframes big {
	0% {transform: scale(1);}
	30% {background-color: #0e2;}
	60% {background-color: #302;;}
	100% {transform: scale(2);}
	
}


.ani-big {
	animation-name: big; /*적용할 애니메이션 이름 */
	animation-duration: 6s;/*재생시간*/
	animation-delay: 200ms; /*지연시간  */
	animation-iteration-count: infinite; /*4회 반복  */
}	

/* animation-direction  */
/*1.정방향 2.역방향 3.왕복 4.리버스왕복  */

.normal {animation-direction: normal;}
.rever {animation-direction: reverse;}
.alter {animation-direction: alternate; }
.altrev {animation-direction: alternate-reverse;}


#sec02>div {border: 1px solid;
background-color: #2ae;
width: 150px; height: 50px;
margin-bottom:80px; 
border-radius: 10px;
text-align: center;
font-weight: bold;
font-size: 1.2em;
position: relative;
left: 0; top: 0;
}

@keyframes animove {
	
	0% {left:0; top:0;}
	50% {left:500px; top: 100px;}
	100% {left: 1000px; top: 0px;}
}

.ani-move {
	animation-name: animove;
	animation-duration: 6s;
	animation-delay: 1s;
	animation-direction: alternate;
	animation-iteration-count: infinite !important;
	
}

.ease{
	animation-timing-function: ease;
}

.ease-in{
	animation-timing-function: ease-in;
}
.ease-out{
	animation-timing-function: ease-out;
}
.easeio{
	animation-timing-function: ease-in-out;
}
.linear{
	animation-timing-function: linear;
}
.cubic{
	animation-timing-function: cubic-bezier(.26,1.77,.65,-1.1);
}







































